{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% if request.endpoint == 'index' %}
  <div class="row">
    <!-- Display all list cards -->
    <div class="col-md-12 mb-5">
      <h2>Cards</h2>
        {% if allCards is iterable and allCards|length == 0 %}
          <ul class="list-group mb-4"></ul>
            <li class="list-group-item">No to-do cards</li>
          </ul>
        {% endif %}
        <ul class="list-group list-group-flush mb-4">
          {% for card in allCards if allCards is iterable %}
            <li class="list-group-item d-flex align-items-center justify-content-between">
              <a href="/view-card/{{ card.id }}">
                <h5 class="card-title mb-0">{{ card.name }}</h5>
                {% if card.description %}
                <h6 class="card-subtitle font-weight-normal text-muted mt-2">{{ card.description }}</h6>
                {% endif %}
              </a>
              {% if card.status == 'Done' %}
                {% set badge_style = 'badge-success' %}
              {% elif card.status == 'To Do' %}
                {% set badge_style = 'badge-secondary' %}
              {% else %}
                {% set badge_style = 'badge-primary' %}
              {% endif %}
              <span class="badge badge-pill mr-3 ml-auto {{ badge_style }}">{{ card.status }}{{ ' | Due: ' + card.due if card.due else '' }}</span>
              {% if card.status == 'To Do' %}
              <form id="start-card" method="post" action="/start-card/{{ card.id }}">
                <button type="submit" class="btn btn-link btn-lg" data-toggle="tooltip" data-placement="right" title="Mark as in progress?"><i class="bi bi-patch-plus"></i></button>
              </form>
              {% elif card.status == 'In Progress' %}
              <form id="complete-card" method="post" action="/complete-card/{{ card.id }}">
                <button type="submit" class="btn btn-link btn-lg"><i class="bi bi-patch-plus-fill" data-toggle="tooltip" data-placement="right" title="Mark as complete?"></i></button>
              </form>
              {% else %}
              <form id="remove-card" method="post" action="/undo-card/{{ card.id }}">
                <button type="submit" class="btn btn-link btn-lg"><i class="bi bi-arrow-counterclockwise" data-toggle="tooltip" data-placement="right" title="Mark as to-do?"></i></button>
              </form>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
    </div>
  </div>
  <div class="row fixed-bottom py-2 bg-light border-top">
    <div class="container">
      <form id="new-card" method="post" action="/add-card">
        <div class="input-group">
          <input type="text" name="name" id="name" class="form-control" required placeholder="Card name">
          <input type="text" name="desc" id="desc" class="form-control" required placeholder="Card description">
          <input type="text" name="due-date" id="due-date" class="form-control" placeholder="Due date" data-provide="datepicker">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Create card</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% endif %}

  <!-- View single card -->
  <div class="row">
    {% if request.endpoint == 'view_card' %}
    {% for c in card %}
    <div class="col-md-12">
      <h2>View card</h2>
        <ul class="list-group mb-4">
          <li class="list-group-item">
            <h5 class="card-title">{{ c.name }}</h5>
            <h6 class="card-subtitle font-weight-normal text-muted">{{ c.description }}</h6>
          </li>
        </ul>
    </div>
    <div class="col-md-6">
      <a href="/" class="btn btn-link">&larr; Go back</a>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      {% if c.status == 'To Do' or c.status == 'Complete' %}
      <form class="mr-3" id="start-card" method="post" action="/start-card/{{ c.id }}">
        <button type="submit" class="btn btn-secondary">Mark as in progress</button>
      </form>
      {% else %}
      <form id="complete-card" method="post" action="/complete-card/{{ c.id }}">
        <button type="submit" class="btn btn-primary">Mark as complete</button>
      </form>
      {% endif %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}
